<div class="field">
    <label class="label" for="comment-body">Comment</label>
    <div class="control">
        <textarea id="comment-body" class="textarea" placeholder="Textarea"></textarea>
    </div>
</div>
<div class="control">
    <button class="button is-link" id="submit-comment">Submit</button>
</div>
<script src="/javascript/add-comment.js"></script>