<div class="field">
    <label class="label comment-label" for="comment-body">Leave A Comment</label>
    <div class="control flex-container">
        <textarea id="comment-body" class="textarea has-fixed-size" placeholder="Textarea"></textarea>
    </div>
</div>
<div class="control flex-container">
    <button class="button is-link" id="submit-comment">Submit</button>
</div>
<script src="/javascript/add-comment.js"></script>