<a class="flex-container" href="/dashboard/new-post">
    <div class="control">
        <button class="button is-link">NEW POST</button>
    </div>
</a>
<ol class="flex-container">
{{#each posts as |post|}}
    <li class="post-info">
        {{> post-info post isDashboard=true}}
    </li>
{{/each}}
</ol>