<div class="flex-container">
<div class="field is-grouped update-delete-btn">
    <div class="control">
        <button class="button is-link" id="update-btn">UPDATE</button>
    </div>

    <div class="control">
        <button class="button is-link" id="delete-btn">DELETE</button>
    </div>
</div>
</div>


<div class="flex-container">
    <div class="post-info">
        <div class="card">
            <header class="card-header">
                <p class="card-header-title flex-container">
                    <label for="edit-title" class="label">Title: </label>
                    <textarea id="edit-title" class="textarea has-fixed-size" placeholder="Textarea">{{capitalize_sentences posts.title}}</textarea>
                    <br/>
                </p>
            </header>
            <div class="card-content">
                <div class="content flex-container">
                    <div class="control">
                        <label for="text-body" class="label"></label>
                        <textarea id="text-body" class="textarea has-fixed-size" placeholder="Textarea">{{posts.body}}</textarea>
                    </div>
                </div>
            </div>
            <div class="card-footer"></div>
            <h3>COMMENTS</h3>
            {{#if isLoggedIn}}
                {{> add-comment}}
            {{/if}}
            <div class="comments-container">
                {{#each posts.comments as |comment|}}
                    {{logger comment}}
                    {{> display-comment comment}}
                {{/each}}
            </div>
        </div>
    </div>
</div>

<script src="/javascript/edit-post.js"></script>
<script src="/javascript/delete-post.js"></script>
