<div>
    <h1 class="title is-5" style="text-align: center; color:white">Recent Posts</h1>
<ol class="flex-container">
    {{#each postsData as |post|}}
        <li class="post-info">
            {{> post-info post}}
        </li>
    {{/each}}
</ol>
</div>