<form class="login-form">
    <h3>Login In</h3>
    <input id="username-login"/>
    <input id="password-login"/>
    <button>Login</button>
</form>


<form class="signup-form">
    <h3>Sign Up</h3>
    <input id="username-signup"/>
    <input id="email-signup"/>
    <input id="password-signup"/>
    <button>Login</button>
</form>