<form class="new-post-form">
<div class="flex-container">
    <div class="post-info">
        <div class="card">
            <header class="card-header">
                <p class="card-header-title flex-container">
                    <label class="label" for="edit-title">Title:</label>
                        <textarea id="edit-title" class="textarea has-fixed-size" placeholder="Textarea"></textarea>
                    <br/>
                </p>
            </header>
            <div class="card-content">
                <div class="content flex-container">
                    <div class="control">
                        <label for="text-body" class="label"></label>
                        <textarea id="text-body" class="textarea has-fixed-size" placeholder="Textarea"></textarea>
                    </div>
                </div>
            </div>
            <div class="control flex-container">
                <button class="button is-link" id="submit-new-post-btn">Submit</button>
            </div>
            <div class="card-footer"></div>
        </div>
    </div>
</div>
</form>
<script src="/javascript/new-post.js"></script>
