<div class="flex-container">
<div class="card card-login">
    <header class="card-header">
        <p class="card-header-title">
            Signup
        </p>
    </header>
    <div class="card-content">
        <div class="content">
            <form class="signup-form">


                <div class="field">
                    <div class="control">
                        <label class="label" for="username-signup">Username</label>
                        <input id="username-signup" class="input" type="text" placeholder="Username">
                    </div>
                </div>
                <div class="field">
                    <label class="label" for="password-signup">Password</label>
                    <div class="control">
                        <input id="password-signup" class="input" type="password" placeholder="Password">
                    </div>
                </div>
                <div class="field">
                    <div class="control">
                        <label for="email-signup" class="label">Email</label>
                        <input id="email-signup" class="input" type="text" placeholder="Email">
                    </div>
                </div>

                <div class="control">
                    <button class="button is-link signup-btn">Signup</button>
                </div>
            </form>
                <div class="control">
                    <button class="button is-link login-btn">Login</button>
                </div>

        </div>
    </div>
</div>
</div>
<script src="/javascript/signup.js"></script>