<article>
    <div>
        {{postsData.title}} by {{postsData.user.username}}
    </div>
    <div>
        {{postsData.createdAt}}
    </div>
    <div>
        {{postsData.body}}
    </div>
</article>