body{
    background-color: #519b6b;
    min-height: 100vh;
}

body> div{
    position: sticky !important;
    top:0;
    z-index: 1;
}

.navbar{
    background-color: #c0a061 !important;
    margin-bottom: 5vh;
}


.flex-container{
    display: flex;
    justify-content: center;
    list-style: none;
    flex-wrap: wrap;
}

.post-info{
    max-width: 60vw;
    flex:100%;
    margin-bottom:50px;
}

#edit-title{
    width:30vw;
    min-width:30vw;
    height: auto;
    min-height: auto;
    margin-left: 5px;
}

#text-body{
    width: 50vw;
    min-width: 50vw;
}

.update-delete-btn >.control >button{
    min-width: calc( 30vw - 6px);
    margin-bottom: 10px;

}

.card{
    /*background-color: #c0a061 !important;*/
}

.card-header-title{

}

.card-footer > p, .card-footer>span{
    margin-top: 10px;
}

.comment{
    margin-bottom: 10px;
}

.comments-container{
    word-break: break-all;
    margin:15px;
    padding-bottom: 10px;
}

.comment-username{
    background-color: #be9f61;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 15px;
    min-width: fit-content;
    color:white;
}

.card >h3{
    text-align: center;
}

.comment-label{
    text-align: center;
}

#comment-body{
    width:50vw;
    min-width:50vw;
}

.flex-container > div > button{
    min-width: 60vw;
    margin-bottom: 50px;
}
.flex-container>button{
    min-width: 50vw;
}

